{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-3">
    <h1 class="mb-4">Admin Dashboard</h1>
    <div class="row">
        

{% include '_card.html' with card_color="info" title="Total Profiles" count=total_profiles description="Profiles registered in the system." %}
{% include '_card.html' with card_color="success" title="Total Notifications" count=total_notifications description="Notifications sent to users." %}
{% include '_card.html' with card_color="warning" title="Total Interests" count=total_interests description="Interest requests sent between users." %}
{% include '_card.html' with card_color="secondary" title="Verified Profiles" count=verified_profiles description="Profiles that have been verified." %}
        
</div>
{% endblock %}
